.house-img {
  background-image: url(../assets/house.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 65%;
  alt: Photo by Ben Neale on Unsplash;
}
.capstone-img {
  background-image: url(../assets/restaurant.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  alt: Photo by Siyuan on Unsplash;
}
.chatapp-img {
  background-image: url(../assets/chat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  alt: Photo by Mika Baumeister on Unsplash;
}
.gameroom-img {
  background-image: url(../assets/arcade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  alt: Photo by Ben Neale on Unsplash;
}
.geotracker-img {
  background-image: url(../assets/geotracker.jpg);
  background-size: cover;
  background-position: 50% 50%;

  background-repeat: no-repeat;
}
.pokemon-theme-img {
  background-image: url(../assets/rotom.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.glaukopis-theme-img {
  background-image: url(../assets/online-learning.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
