.house-img {
  background-image: url(../assets/house.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 65%;
  alt: Photo by Ben Neale on Unsplash;
}
.capstone-img {
  background-image: url(../assets/restaurant.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  alt: Photo by Siyuan on Unsplash;
}
.chatapp-img {
  background-image: url(../assets/chat.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  alt: Photo by Mika Baumeister on Unsplash;
}
.gameroom-img {
  background-image: url(../assets/arcade.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  alt: Photo by Ben Neale on Unsplash;
}
.geotracker-img {
  background-image: url(../assets/geotracker.webp);
  background-size: cover;
  background-position: 50% 50%;

  background-repeat: no-repeat;
}
.pokemon-theme-img {
  background-image: url(../assets/rotom.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.glaukopis-theme-img {
  background-image: url(../assets/online-learning.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
