.contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
  background-color: $teal-color;
  color: $secondary-color;
  flex-direction: column;
}
.form {
  width: 65vw;
  height: 80vh;
  display: flex;
  border: solid $secondary-color;
}
.form-image {
  width: 40vw;
  height: 100%;
  background-color: $secondary-color;
  background-image: url(../assets/science.png);
  background-size: cover;
  background-repeat: none;
}
.form-content{
  display: flex;
  flex-direction: column;
  width: 43vw;

}
.form-input{
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
}
.form-link{
  margin-top: auto;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-around;
}
.form-group{
  >textarea{
    height: 30vh;
  }
}
@media only screen and (max-width: 600px) {
  .form{
    flex-direction: column;;
  }
  .form-image{
    width: 100%;
  }
  .form-content{
    width: 100%;
  }
}