$primary-color: #222c3c;
$secondary-color: #e2e0d4;
$notice-color: #789ee4;
$royalty-color: #4d1635;
$background-color: #e2e0d4;
$storm-color: #222c3c;
$honey-color: #d8b26e;
$forest-color: #11201e;
$teal-color: #154042;

$p-font-sizes: (
  null: 15px,
  480px: 17px,
  640px: 20px,
  1024px: 24px,
);
$h1-font-sizes: (
  null: 28px,
  480px: 31px,
  640px: 33px,
  1024px: 48px,
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: $honey-color;
}

body::-webkit-scrollbar-thumb {
  background: $forest-color;
}


h1 {
  @include font-size($h1-font-sizes);
}
p {
  @include font-size($p-font-sizes);
}
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
  background-color: $background-color;
  color: $primary-color;
}
