.skill {
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  &-header {
    text-align: center;
  }
  &-desc-container {
    margin-top: 5vh;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &-content {
      > h1 {
        border-bottom: solid $forest-color 2px;
        margin-bottom: 4vh;
      }
      border: solid $forest-color 2px;
      border-radius: 5px;
      text-align: center;
      width: 70vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-svg-container {
        width: 70vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        > div {
          width: max-content;
          margin: auto;
          height: max-content;
          text-align: center;
          > .svg-logo {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 750px) {
  .skill-desc-container-content{
    width: 95vw;
  }
  .skill-desc-container-content-svg-container{
    width: 95vw;
  }
}
