.home-container {
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../assets/forest.jpg);
  background-size: cover;
  z-index: 0;
}

.clip-text {
  font-size: 5em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url(../assets/toronto-large.jpg);
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: "";
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: 0.2em;
  right: 0.2em;
  bottom: 0.2em;
  left: 0.2em;
  background-color: $primary-color;
}



@media only screen and (max-width: 400px) {
  .clip-text {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 450px) {
  .container-title {
    top: 5vh;
    font-size: 2.5rem;
  }
}
#sliderToggle {
  display: flex;
  position: absolute;
  bottom: 7vh;
  height: 8vh;
  border-radius: 50%;
  border: transparent;
  background: transparent;
}

#sliderToggle input {
  position: absolute;
  display: block;
  width: 77px;
  height: 75.75px;
  margin: 0;
  cursor: pointer;
  opacity: 0; 
  z-index: 3; 

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#sliderToggle > div > span {
  display: block;
  width: 40px;
  height: 7px;
  margin-bottom: 7px;
  position: relative;
  z-index: 1;
  transform: rotate(45deg);
  transition-duration: 0.75s;
}

#sliderToggle {
  .left-wing > span {
    background-color: $royalty-color;
  }
  .right-wing > span {
    background-color: $notice-color;
  }
}

#sliderToggle > .right-wing > span {
  margin-left: -15px;
  transform: rotate(-45deg);
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
//  Left side
#sliderToggle input:checked ~ .left-wing > span:first-child {
  margin-bottom: 7px;
}
#sliderToggle input:checked ~ .left-wing > span {
  width: 40px;
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: $teal-color;
  margin-bottom: 10px;
}

// Right side
#sliderToggle input:checked ~ .right-wing > span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $storm-color;
}
