.home-container {
  top: 0;
  left: 0;
  margin-top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/mountain.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  min-height: 500px;
  background-attachment: fixed;
  justify-content: center;

  text-align: center;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #1f1f1f;
  }
}
.svgName {
  width: 700px;
  animation: fill 0.5s ease forwards 1.5s;
}

.svgName path:nth-child(2) {
  stroke-dasharray: 490;
  stroke-dashoffset: 490;
  animation: line-anim 2s ease forwards;
}
.svgName path:nth-child(3) {
  stroke-dasharray: 712;
  stroke-dashoffset: 712;
  animation: line-anim 2s ease forwards 0.1s;
}
.svgName path:nth-child(4) {
  stroke-dasharray: 573;
  stroke-dashoffset: 573;
  animation: line-anim 2s ease forwards 0.6s;
}
.svgName path:nth-child(5) {
  stroke-dasharray: 728;
  stroke-dashoffset: 728;
  animation: line-anim 2s ease forwards 0.6s;
}
.svgName path:nth-child(6) {
  stroke-dasharray: 728;
  stroke-dashoffset: 728;
  animation: line-anim 2s ease forwards 0.6s;
}
.svgName path:nth-child(7) {
  stroke-dasharray: 712;
  stroke-dashoffset: 712;
  animation: line-anim 2s ease forwards 0.6s;
}
.svgName path:nth-child(8) {
  stroke-dasharray: 756;
  stroke-dashoffset: 756;
  animation: line-anim 2s ease forwards 0.6s;
}
.svgName path:nth-child(9) {
  stroke-dasharray: 649;
  stroke-dashoffset: 649;
  animation: line-anim 2s ease forwards 0.6s;
}
.svgName path:nth-child(10) {
  stroke-dasharray: 728;
  stroke-dashoffset: 728;
  animation: line-anim 2s ease forwards 0.6s;
}

@keyframes showText {
  from {
    color: transparent;
  }
  to {
    color: #1f1f1f;
  }
}

.home-content {
  margin-top: 10vh;
  margin-bottom: 15vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  > .home-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > h1 {
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 10vh;
      color: transparent;
      animation: showText 1.5s ease-in-out forwards 1.5s;
    }
  }
  > .subtitle-container {
    width: 50vw;
    > h3 {
      margin-top: 2rem;

    }
  }
}
@media only screen and (max-width: 900px) {
  .svgName {
    width: 450px;
    height: max-content;
  }
  .home-container {
    height: auto;
    background-attachment: scroll;;

  }
  .home-content {
    text-align: center;
    flex-direction: column;
    > .home-title {
      > h1 {
        font-size: 1.5rem;
      }
    }
    > .subtitle-container {
      width: 90vw;
    }
  }
}
@media only screen and (max-width: 500px) {
  .svgName {
    width: 90vw;
  }
  .home-content {
    > .home-title {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      > h1 {
        font-size: 1.1rem;
      }
    }
  }
}

#sliderToggle {
  margin-top: 2vh;
  margin-bottom: 2vh;
  display: flex;
  align-items: center;
  width: 60px;
  height: 50px;
  bottom: 7vh;
  border-radius: 50%;
  border: transparent;
  background: transparent;
}

#sliderToggle input {
  position: absolute;
  display: block;
  width: inherit;
  height: inherit;
  cursor: pointer;
  opacity: 0;
  z-index: 3;

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#sliderToggle > div > span {
  display: block;
  width: 40px;
  height: 7px;
  margin-bottom: 7px;
  position: relative;
  z-index: 1;
  transform: rotate(45deg);
  transition-duration: 0.75s;
}

#sliderToggle {
  .left-wing > span {
    background-color: $royalty-color;
  }
  .right-wing > span {
    background-color: $notice-color;
  }
}

#sliderToggle > .right-wing > span {
  margin-left: -15px;
  transform: rotate(-45deg);
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
//  Left side
#sliderToggle input:checked ~ .left-wing > span:first-child {
  margin-bottom: 7px;
}
#sliderToggle input:checked ~ .left-wing > span {
  width: 40px;
  opacity: 1;
  transform: rotate(-45deg) translate(-2px, -1px);
  background: $teal-color;
  margin-bottom: 10px;
}

// Right side
#sliderToggle input:checked ~ .right-wing > span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $storm-color;
}
