@import "./styles/_config";
@import "./styles/_navbar";
@import "./styles/_home";
@import "./styles/_aboutme";
@import "./styles/_expertise";
@import "./styles/_projects";
@import "./styles/_button";
@import "./styles/contact";
@import "./styles/notfound";
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
